
body{
    font-family: 'Poppins', sans-serif;
 ;
}
h1{
    font-size: 50px;
}
.asdf{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 40%;
    padding: 5px;
}
.half-width img{
    width: 60%;
    padding-top: 5%;
    padding-left: 200px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua, skyblue);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}
h2{
    color:orange;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0%;
}
#more-large{
width: 50%;
zoom: 70%;
}
.being-an-assosiate{
    margin-top: 100px;
    padding-left: 10px;
}
.padding{
    padding-top: 50px;
}
.being-an-assosiate{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 30px;
}
.flexible-container{
    display: flex;
}
#abc{
    border-left: 7px solid blue;
}
#abc2{
    border-left: 7px solid orange;
}
.Experience-item{
   width: 40%;
   margin-left: 2%;
   margin-right: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
    border-left: 7px solid goldenrod;
}
    .experience-area{
        background-image :url(images/exp-bg.png); 
    background-repeat:no-repeat ; 
}
 footer p{
    text-align: center;
 }